/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Noto Sans SC", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
}

.header {
  margin: 0 50px;
  padding: 0 25px 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  z-index: 10;
  -webkit-animation: headerAni 0.7s ease-in-out;
  animation: headerAni 0.7s ease-in-out;
}
.header a {
  color: #fff;
}

@-webkit-keyframes headerAni {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes headerAni {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.logo {
  font-size: 1.8rem;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav > ul > li {
  width: 130px;
}
.nav > ul > li > a {
  display: block;
  padding: 30px 0;
  text-align: center;
}
.nav > ul > li:hover > a {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05d685),
    to(#31cbba)
  );
  background-image: linear-gradient(to right, #05d685, #31cbba);
  color: #000;
}
.nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav ul ul {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  position: absolute;
  top: 74px;
  padding: 10px 0;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav ul ul a {
  display: block;
  padding: 8px 20px;
  font-weight: 300;
}
.nav ul ul a:hover {
  color: #05d685;
  text-decoration: underline;
}

.nav a {
  font-size: 1.4rem;
}

.nav-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-mobile ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 180px;
  height: 100%;
  padding-top: 50px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05d685),
    to(#31cbba)
  );
  background-image: linear-gradient(to right, #05d685, #31cbba);
  text-align: center;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out 0.3s;
  transition: all 0.2s ease-in-out 0.3s;
}
.nav-mobile ul a {
  display: block;
  padding: 15px 0;
  font-size: 1.8rem;
  color: #fff;
}

.nav-mobile.active {
  opacity: 1;
  visibility: visible;
}
.nav-mobile.active .nav-mobile__dim {
  left: 0;
}
.nav-mobile.active > ul {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-mobile__dim {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.btn-nav {
  display: none;
}

.visual {
  padding: calc(5rem + 75px) 5rem 5rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/visual.jpg");
  background-size: cover;
  background-position: center;
  background-position: 0 50%;
}

.visual__inner {
  position: relative;
  -webkit-animation: visualAni 0.9s;
  animation: visualAni 0.9s;
}

@-webkit-keyframes visualAni {
  0% {
    opacity: 0;
    left: -30px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes visualAni {
  0% {
    opacity: 0;
    left: -30px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.visual__text {
  margin-bottom: 3rem;
  line-height: 1.3;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
}

.btn-visual {
  position: relative;
  padding: 1rem 2rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05d685),
    to(#31cbba)
  );
  background-image: linear-gradient(to right, #05d685, #31cbba);
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.8rem;
  z-index: 1;
}
.btn-visual:hover {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.btn-visual:hover::before {
  width: 100%;
  border-radius: inherit;
  z-index: -1;
}
.btn-visual::before {
  display: block;
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131e34;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn-visual:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.fp-tableCell > section {
  height: 100vh;
}

.onstage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.onstage__title {
  position: relative;
  margin: 5rem 0 3rem;
  width: 100%;
  text-align: center;
}
.onstage__title h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.onstage__title p {
  font-size: 1.8rem;
  line-height: 1.3;
}

.onstage__contents {
  width: 100%;
}
.onstage__contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
  margin: 0 auto;
}
.onstage__contents ul li {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.onstage__contents ul li + li {
  margin-left: 3rem;
}
.onstage__contents ul li:nth-child(1) .onstage__thumb {
  height: 230px;
  background-image: url("../img/onstage1.jpg");
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.onstage__contents ul li:nth-child(2) .onstage__thumb {
  background-image: url("../img/onstage2.jpg");
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.onstage__contents ul li:nth-child(3) .onstage__thumb {
  height: 280px;
  background-image: url("../img/onstage3.jpg");
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.onstage__contents ul li:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.onstage__contents ul li:hover .onstage__subject {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.onstage__contents ul li:hover .onstage__thumb::before {
  height: 100%;
}
.onstage__contents ul li:hover .onstage__thumb::after {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;
}

.onstage__thumb {
  position: relative;
  display: block;
  height: 320px;
  background-size: cover;
  background-position: center;
}
.onstage__thumb::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.onstage__thumb::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  content: "+";
  color: #05d685;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 60px;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.onstage-ani {
  opacity: 0;
  -webkit-animation: onstageAni 0.8s forwards;
  animation: onstageAni 0.8s forwards;
}

@-webkit-keyframes onstageAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes onstageAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.onstage__subject {
  position: relative;
  top: -50px;
  display: block;
  margin: 0 10px;
  padding: 1.3rem 1.5rem;
  background-color: #fff;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.onstage__subject strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.onstage__subject strong::after {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000;
  margin: 10px 0 0;
}

.artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artist__title {
  position: relative;
  padding: 10% 20px 0;
  width: 15%;
  min-width: 100px;
  background-color: #131e34;
  text-align: right;
  color: #fff;
}
.artist__title h2 {
  margin-bottom: 15px;
  font-size: 3rem;
}
.artist__title p {
  line-height: 1.3;
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0.6;
}
.artist__title.artist-ani {
  -webkit-animation: artistTitleAni 0.8s 0.1s ease-in-out;
  animation: artistTitleAni 0.8s 0.1s ease-in-out;
}

@-webkit-keyframes artistTitleAni {
  0% {
    opacity: 0;
    left: 15%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes artistTitleAni {
  0% {
    opacity: 0;
    left: 15%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.artist__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.artist__contents__left {
  position: relative;
  margin-right: 3rem;
  width: 45%;
  height: 100%;
  background-image: url("../img/artist1.jpg");
  background-size: cover;
  background-position: center;
}

.artist__contents__right {
  -ms-flex-item-align: center;
  align-self: center;
  width: 43%;
}
.artist__contents__right span {
  position: relative;
  display: block;
  margin-bottom: 20px;
  height: 250px;
  background-image: url("../img/artist2.jpg");
  background-size: cover;
  background-position: center;
}
.artist__contents__right p {
  margin-bottom: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
}
.artist__contents__right p strong {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}
.artist__contents__right p strong::after {
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #000;
  margin: 15px 0;
}
.artist__contents__right button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: 1px solid #05d685;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.artist__contents__right button:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-bottom: 0;
  border-left: 0;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.artist__contents__right button:hover {
  padding-right: 3rem;
  background-color: #05d685;
  color: #fff;
}
.artist__contents__right button:hover::before {
  opacity: 1;
}

.artist__contents__left.artist-ani::before,
.artist__contents__right span.artist-ani::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #131e34;
  position: absolute;
  right: 0;
  bottom: 0;
}

.artist__contents__left.artist-ani::before {
  -webkit-animation: artistLeftAni 0.8s 0.1s ease-in-out forwards;
  animation: artistLeftAni 0.8s 0.1s ease-in-out forwards;
}

@-webkit-keyframes artistLeftAni {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes artistLeftAni {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.artist__contents__right span.artist-ani::before {
  -webkit-animation: artistrightAni 0.8s 0.1s ease-in-out forwards;
  animation: artistrightAni 0.8s 0.1s ease-in-out forwards;
}

@-webkit-keyframes artistrightAni {
  0% {
    height: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes artistrightAni {
  0% {
    height: 100%;
  }
  100% {
    width: 0;
  }
}

.podium {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.podium__title {
  position: relative;
  margin-bottom: 5rem;
  padding: 0 30px;
  width: 100%;
  text-align: center;
}
.podium__title h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.podium__title p {
  font-size: 1.8rem;
  line-height: 1.3;
}

.podium__contents {
  width: 100%;
}
.podium__contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
}
.podium__contents ul li {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.podium__contents ul li + li {
  margin-left: 3rem;
}
.podium__contents ul li:nth-child(odd) .podium__thumb {
  height: 320px;
}
.podium__contents ul li:nth-child(1) .podium__thumb {
  background-image: url("../img/podium1.jpg");
  background-position: initial;
}
.podium__contents ul li:nth-child(2) .podium__thumb {
  background-image: url("../img/podium2.jpg");
}
.podium__contents ul li:nth-child(3) .podium__thumb {
  background-image: url("../img/podium3.jpg");
}
.podium__contents ul li:nth-child(4) .podium__thumb {
  background-image: url("../img/podium4.jpg");
}
.podium__contents ul li:hover .podium__subject {
  background-image: none;
}
.podium__contents ul li:hover .podium__thumb::before {
  height: 100%;
}
.podium__contents ul li:hover .podium__thumb::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.podium__thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.podium__thumb::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.podium__thumb::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  content: "+";
  color: #05d685;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 60px;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.podium-ani:nth-child(odd) {
  opacity: 0;
  -webkit-animation: podiumOddAni 1s 0.1s forwards;
  animation: podiumOddAni 1s 0.1s forwards;
}

@-webkit-keyframes podiumOddAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes podiumOddAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.podium-ani:nth-child(even) {
  opacity: 0;
  -webkit-animation: podiumEvenAni 1s 0.1s forwards;
  animation: podiumEvenAni 1s 0.1s forwards;
}

@-webkit-keyframes podiumEvenAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes podiumEvenAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.podium__subject {
  display: block;
  position: relative;
  margin-top: auto;
  padding: 1.3rem 1.5rem;
  width: 100%;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.7)),
    to(transparent)
  );
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.podium__subject::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    to(transparent)
  );
  background-image: linear-gradient(to top, #000, transparent);
  z-index: -1;
}
.podium__subject strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.podium__subject strong::after {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin: 10px 0 0;
}

.news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
}

.news__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 17rem;
  height: 15rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05d685),
    to(#31cbba)
  );
  background-image: linear-gradient(to right, #05d685, #31cbba);
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.news__contents {
  width: calc(100% - 200px);
}
.news__contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news__contents ul li {
  padding: 0 30px;
}
.news__contents ul li:nth-child(1) {
  width: 80%;
  border-right: 1px solid #dcdcdc;
}
.news__contents ul li:nth-child(2) {
  width: 20%;
}
.news__contents ul li:nth-child(3) {
  width: 100%;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #dcdcdc;
}
.news__contents ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.news__contents ul li a:hover p {
  text-decoration: underline;
}
.news__contents ul li a:hover figure img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news__contents ul li a figure {
  margin-left: 20px;
  overflow: hidden;
}
.news__contents ul li a figure img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.news__contents__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1.3;
  color: #000;
}
.news__contents__text h3 {
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 600;
}
.news__contents__text p {
  margin-top: 10px;
  font-weight: 300;
}

.news__contents.news-ani figure {
  position: relative;
}
.news__contents.news-ani figure::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-animation: newsAni 0.4s 0.2s ease-in-out forwards;
  animation: newsAni 0.4s 0.2s ease-in-out forwards;
}

.news__contents.news-ani li:nth-child(3) figure::before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes newsAni {
  0% {
    -webkit-transform: skewY(30deg) translateY(-143%);
    transform: skewY(30deg) translateY(-143%);
  }
  100% {
    opacity: 1;
    -webkit-transform: skewY(30deg) translateY(143%);
    transform: skewY(30deg) translateY(143%);
  }
}

@keyframes newsAni {
  0% {
    -webkit-transform: skewY(30deg) translateY(-143%);
    transform: skewY(30deg) translateY(-143%);
  }
  100% {
    opacity: 1;
    -webkit-transform: skewY(30deg) translateY(143%);
    transform: skewY(30deg) translateY(143%);
  }
}

.map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.map__title {
  position: relative;
  margin-bottom: 5rem;
  padding: 0 30px;
  width: 100%;
  text-align: center;
}
.map__title h2 {
  font-size: 3rem;
}
.map__contents {
  width: 100%;
  height: 65%;
}
#map {
  width: 100%;
  height: 100%;
  background-position: center;
}
.map__mark {
  position: relative;
  padding: 10px;
  background-color: #131e34;
  font-size: 1.4rem;
  color: #fff;
}
.map__mark::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #131e34 transparent transparent;
  border-width: 10px 7px 5px;
}

#fp-nav {
  position: fixed;
  top: 50%;
  right: 3.5rem;
  z-index: 10;
  -webkit-animation: fpNavSlideAni 1s;
  animation: fpNavSlideAni 1s;
}

@-webkit-keyframes fpNavSlideAni {
  0% {
    opacity: 0;
    right: 3rem;
  }
  100% {
    opacity: 1;
    right: 3.5rem;
  }
}

@keyframes fpNavSlideAni {
  0% {
    opacity: 0;
    right: 3rem;
  }
  100% {
    opacity: 1;
    right: 3.5rem;
  }
}

#fp-nav a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #131e34;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#fp-nav a::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #05d685;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#fp-nav a.active {
  width: 16px;
  height: 16px;
  background-color: #05d685;
}
#fp-nav a.active::before {
  -webkit-animation: fpNavActiveAni 0.8s;
  animation: fpNavActiveAni 0.8s;
}

@-webkit-keyframes fpNavActiveAni {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes fpNavActiveAni {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

#fp-nav li + li {
  margin-top: 15px;
}

.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1000px) {
  .news__contents__text p {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .fp-section,
  .fp-tableCell,
  .fp-tableCell > section,
  .visual {
    height: auto !important;
  }
  .onstage__contents ul li:nth-child(1) .onstage__thumb {
    height: 150px;
  }
  .onstage__contents ul li .onstage__thumb {
    height: 240px;
  }
  .onstage__contents ul li:nth-child(3) .onstage__thumb {
    height: 200px;
  }
  .artist__contents__left {
    width: 50%;
  }
  .artist__contents__right {
    width: calc(50% - 3rem);
  }
  .artist__contents__right span {
    height: 170px;
  }
  .artist__contents__right p,
  .artist__contents__right button {
    margin-right: 3rem;
  }
  .podium__contents ul li .podium__thumb {
    height: 270px;
  }
  .podium__contents ul li:nth-child(odd) .podium__thumb {
    height: 240px;
  }
  .podium,
  .news {
    margin: 5rem 0;
  }
  .map__contents {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .header {
    display: block;
    background-color: #000;
    border-bottom: 0;
    margin: 0;
    padding: 20px 30px;
  }
  .nav {
    display: none;
  }
  .btn-nav {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: 0;
    height: 4rem;
    padding: 1rem;
    font-size: 0;
  }
  .btn-nav span {
    position: relative;
    display: block;
    width: 3.5rem;
    height: 2px;
    background-color: #05d685;
  }
  .btn-nav span::before,
  .btn-nav span::after {
    display: block;
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    top: -1.2rem;
  }
  .btn-nav span::after {
    top: 1.2rem;
  }
  .visual {
    padding: 58px 30px 30px;
    height: 400px;
  }
  .onstage {
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
    padding: 0 30px;
  }
  .onstage__contents ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
  .onstage__contents ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .onstage__contents ul li + li {
    margin-left: 0;
  }
  .onstage__contents ul .onstage__thumb {
    height: 250px !important;
  }
  .artist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .artist__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 3rem;
    padding: 0 15px;
    width: auto;
    background-color: transparent;
    text-align: center;
    color: #000;
  }
  .artist__title h2 {
    margin-bottom: 2rem;
  }
  .artist__title p {
    opacity: 1;
  }
  .artist__contents__left {
    display: none;
  }
  .artist__contents__right {
    width: auto;
  }
  .artist__contents__right span {
    height: 220px;
  }
  .artist__contents__right p {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .podium__title {
    margin-bottom: 0;
  }
  .podium__contents ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 30px;
  }
  .podium__contents ul li {
    margin-top: 3rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: calc(50% - 1.5rem);
  }
  .podium__contents ul li + li {
    margin-left: 0;
  }
  .podium__thumb {
    height: 200px !important;
  }
  .news__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
  }
  .news__title {
    width: auto;
    height: auto;
    background-image: none;
    color: #000;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  .news__title.news-ani {
    -webkit-animation: none;
    animation: none;
  }
  .news__contents {
    width: auto;
  }
  .news__contents ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news__contents ul li {
    padding: 0;
    width: auto !important;
  }
  .news__contents ul li + li {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #dcdcdc;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .visual {
    padding: 57px 15px 30px;
    height: 300px;
  }
  .header {
    padding-left: 15px;
    padding-right: 10px;
  }
  .btn-nav {
    right: 5px;
  }
  .onstage {
    padding: 0 15px;
  }
  .visual__text {
    font-size: 3rem;
  }
  .artist__contents__right p {
    margin-left: 15px;
    margin-right: 15px;
  }
  .podium__contents ul {
    padding: 0 15px;
  }
  .podium__contents ul li {
    margin-top: 0;
    width: 100%;
  }
  .podium__title {
    margin-bottom: 3rem;
    padding: 0 15px;
  }
  .news__inner {
    padding: 0 15px;
  }
  .news__contents figure img {
    width: 150px !important;
  }
}

@media (max-height: 470px) {
  .fp-section,
  .fp-tableCell {
    height: auto !important;
  }
  .onstage,
  .artist,
  .podium,
  .news {
    min-height: 600px;
  }
}
